#grid-container{
	display: grid;
	grid-template-areas: "header header header header"
						 "main main main main"
						 "footer footer footer footer";
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

header{
	grid-area: header;
	padding: 2rem;
	text-align: center;
}

h1 a:link {
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
	padding: 1rem;
	text-decoration-color: purple;
}

h2{
	text-align: center;
	font-size: 15px;
}

h3{
	text-transform: uppercase;
	font-size: 25px;
    background-color: #E4D9FF;
	padding: 2rem;
	margin: 10px;
	border-radius: 15px;
    text-align: center;
}

body{
	font-family: "cinzel", sans-serif;
}

nav{
	grid-area: nav;
	display: flex;
	justify-content: space-between;
	padding: 6px;
	list-style:none;
	border: 2px solid #000;
	border-radius: 3px;
}

nav ul{
	display: flex;
	list-style: none;
	gap: 1rem;
	margin-left: 20px;
	padding: 9px 0;
}

a{
	text-decoration: underline;
	text-transform: uppercase;
	font-size: 12px;
}

.button{
	background-color: #E4D9FF;
	text-decoration: none;
	font-size: 15px;
	border-radius: 2px;
	padding: 10px 20px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
	grid-area: main;
	display: grid;
	text-align: center;
	justify-items: center;
	grid-auto-flow: column;
	background-color: #fff;
}

.form {
	width: 800px;
	height: 600px;
	background: #E4D9FF;
	border-radius: 13px;
	margin: 0px auto;
	box-sizing: border-box;
	padding: 40px;
	box-shadow: 0 0 20px rgba(73, 11, 75, 0.6);
}

.form p{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	margin-bottom: 15px;
	letter-spacing: 1px;
}

.input, .message .area {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 25px;
	border: 2px solid purple;
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	transition: all 0.5s ease;
}

.login .input {
	width: 48%;
	float: left;
	margin-right: 4%;
}

.login .input:last-child{
	margin-right: 0;
}

.message .area {
	height: 200px;
}

.btn {
	width: 250px;
	background: purple;
	color:#fff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 5px;
}

.input:focus,
.message .area:focus{
	border: 2px solid purple;
}

.footer {
	margin-top: 150px;
	width: 100%;
	padding: 100px 153%;
	background: #CF9FFF;
	color: black;
	display: grid;
}

.footer div {
	text-align: center;
}

.e-mail {
	justify-content: space-between;
	align-items: center;
}

.footer div p{
	font-size: 15px;
	margin-bottom: 30px;
	letter-spacing: 1px;
	opacity: 0.8;
}

.phone {
	display: block;
	text-decoration: none;
	margin-bottom: 10px;
}

.fa {
	padding: 20px;
	font-size: 26px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
  }

  .fa-facebook {
	background: black;
	color: white;
  }

  .fa-instagram {
	background: black;
	color: white;
  }

  .fa-pinterest {
	background: black;
	color: white;
  }

  .fa-youtube {
	background: black;
	color: white;
  }

  .fa-twitter {
	background: black;
	color: white;
  }
  .fa-linkedin {
	background: black;
	color: white;
  }

@media (orientation: landscape){
	h1 a:link{
		color: purple;
	}
}

@media screen and (max-width: 800px)
{
	h1 a:link{
		font-size: 20px;
	}
	nav{
		align-items: center;
		flex-direction: row;
		align-items: flex-start;
	}
	nav ul{
		width: 100; 
		flex-direction: column;
	}
	nav ul{
		text-align: center;
	}
	main{
		flex-direction: column;
		align-items: center;
	}
	header{
		grid-area: header;
		padding: 1rem;
		text-align: center;
	}
	.banner > .banner-image{
		width: 100%;
		display: block;
		height: 600px;
	}
	
}

@media only screen and (max-width: 400px) {
	header{
		grid-area: header;
		padding: 1rem;
		text-align: center;
	}
	main{
		flex-direction: column;
	}
	footer{
		padding: 2rem;
	}
	nav ul{
		font-size: 2px;
		flex-direction: column;
		text-align: center;
	}
}